body {
    background-color: rgb(179, 214, 169);
}

.container {
    margin: auto;
    border-radius: 15px;
}

input {
    background-color: rgb(179, 214, 169);
    line-height: 25px;
    border-radius: 7px;
}

h2 {
    margin: 5px;
}

.addBtn {
    border: black solid 1px;
    border-radius: 5px;
    width: 5%;
    text-align: center;
    font-size: larger;
    font-weight: 800;
    background-color: rgb(179, 214, 169);
   
}

.close {
    font-family: cursive;
    border-radius: 5px;
    width: 7%;
    text-align: center;
    background-color: rgb(179, 214, 169);
}

ul {
    list-style: none;
}

li {
    display: flex;
    line-height: 25px;
    cursor: pointer;
 
}
li :hover {
    background: rgb(35, 103, 16) ;
}


#inputContainer {
    display: flex;
    flex-direction: row;
}

ul li.checked {
    text-decoration: line-through;
}

.close:hover {
    background: rgb(26, 86, 10);
}

#bottomRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgb(179, 214, 169);
}

#count {
    color: black;
    border-radius: 10px;
    border-style: none;
}

button {
    border-radius: 10px;
    background-color: rgb(179, 214, 169);
}
